@import "styles/_variables";
@import "styles/_mixins";

.main {
  @include sourseSans(24px, 600, 28px, 0);
  margin: 60px 20px;
  background-color: white;

}

.header {
  padding: 6px;
}

.preTitle {
  margin: 12px 0;
  display: flex;
}

.category {
  width: 100%;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: $red;
  float: left;
}

.date {
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  color: #6A6A6A;
  float: right;

}

.text {
  font-size: 15px;
  margin-top: 12px;
  overflow: auto;
  padding: 6px;
  max-height: 100px;
}