@import "_variables";

.Modal[data-context="video"] {
  background: rgba(0, 0, 0, 0.48);
}

.Modal[data-context="news"] {
  background: rgba(0, 0, 0, 0.48);
}

.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  background: #fff;

  &__button {
    position: absolute;
    right: 20px;
    margin: 20px 0 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}

.wrapper {
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}