@import "_variables";
.Modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 10;
  background-color: #fff;

  &__button{
    position: absolute;
    right: 20px;
    margin: 20px 0 20px 20px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
}
.wrapper{
  max-width: 375px;
  height: 100%;
  margin: 0 auto;
}